langchain==0.3.27
langchain-community==0.3.27
langchain-text-splitters==0.3.11
langchain-groq==0.2.5
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
langchain-chroma==0.2.0
chromadb==0.5.23
pypdf==5.1.0
python-dotenv==1.0.1
pandas==2.2.3
mcp<2
langchain-mcp-adapters==0.1.0
langgraph==0.2.62
streamlit==1.40.2
pyarrow==18.1.0
grpcio==1.68.1
opentelemetry-exporter-otlp-proto-grpc==1.29.0